$falconWhite: #ffffff;
$falconGrey: #f1f2f6;
$falconRed: #900313;
$falconGreen: #32b877;
$falconPurple: #495064;
$falconBlue: #4c76bb;
$falconStrongBlue: #4c76bb;
$falconHighLightBlue: #3275bb;
$falconStatusBlue: #3275b8;
$falconLinkBlue: #007bff;
$falconOrange: #f68f1e;
$falconStepperOrange: #efa617;
$falconStepperGrey: #cccfd8;
$falconTextMinor: #c9cfd4;
$falconBoxShadow: 1px 1px 5px rgba(0, 0, 0, 0.16);
$printPreviewPageHeight: 26.4cm;
$falconPrimary: #141d27;
$falconSecondary: #818899;
$falconAttentionPrimary: #c71a2f;
$falconAttentionWarning: #d9b100;
$falconTextSecondary: #707684;
$falconFinalFontSizeTitle: 15px;
$falconFinalReportFontFamily: Arial, sans-serif;
$falconFinalFontSizeContent: 13px;
$falconGomRed: #d91233;
$falconStone: #818f99;
$buttonPrimaryShade: #1a2430;
$buttonSecondary: #e0e3e6;
$buttonSecondaryShade: #c9cfd4;
$buttonDisabled: #e8eced;
$buttonModalDisabled: #979cae;
$charDisabled: #818899;
$charWhite: #e8eced;
$charBlack: #141d27;
$fontFamily: "Barlow", sans-serif;
$fontSize: 14px;
$focusBorder: 1px solid #3275b8;
$progress: #f87f14;
$buttonPrimary: #2b3847;
$well-card-width: 370px;
$falconComponentTitle: #212529;
$errorRed: red;
$errorColor: #d91233;
$footerHeight: 25px;
$fontSizeDialogHeader: 20px;
:root {
  --color-primary: #3275b8;
  --color-primary-04: #f7f8f9;
  --color-primary-05: #e8eced;
  --color-primary-06: #c9cfd4;
  --color-pallet-primary-07: #2b3847;
  --color-pallet-primary-09: #141d27;
  --falcon-text: #333333;
  --falcon-well-card-text: #2b3847;
  --falcon-primary-text-color: #141d27;
  --falcon-primary-title: #141d27;
  --falcon-primary-text: #2b3847;
  --falcon-secondary-text: var(--color-pallet-primary-09);
  --falcon-header-text-color: #3b4957;
  --falcon-primary-icon-color: #3b4957;
  --falcon-menunav-text: #818899;
  --falcon-calendar-icon: #818899;
  --color-text: var(--color-pallet-primary-09);
  --falcon-dialog-title: var(--color-pallet-primary-09);
  --falcon-menu-link-text: var(--color-pallet-primary-09);
  --text-common-button: #e8eced;
  --falcon-primary-dropdown-text-hover: var(--color-primary-06);
  --text-dialog-button: #2b3847;
  --falcon-workflow-text-disabled: var(--color-primary-06);
  --falcon-wellbore-text: #000000;
  --falcon-establish-table-text: #0079c1;
  --falcon-establish-text-button: var(--color-pallet-primary-09);
  --text-disabled-color: var(--color-primary-06);
  --falcon-accept-button-text: var(--falcon-primary-color-00);
  --falcon-text-button-disabled: #e8eced;
  --falcon-count-text: var(--color-primary-04);
  --falcon-brand-color: #d91233;
  --falcon-dropdown-panel-background: #ffffff;
  --falcon-dropdown-panel-item-highlight: #007ad9;
}
:root [data-theme="dark"] {
  --color-pallet-primary-07: #141d27;
  --color-error-text: #c71a2f;
  --falcon-primary-title: #e8eced;
  --falcon-primary-text: #c9cfd4;
  --falcon-primary-text-color: #c9cfd4;
  --falcon-secondary-text: #818f99;
  --falcon-header-text-color: #f7f8f9;
  --falcon-primary-icon-color: #c9cfd4;
  --falcon-menunav-text: #e8eced;
  --falcon-calendar-icon: #c9cfd4;
  --color-text: #e8eced;
  --falcon-well-card-text: #e8eced;
  --falcon-dialog-title: #c9cfd4;
  --falcon-menu-link-text: #c9cfd4;
  --text-common-button: #e8eced;
  --falcon-primary-dropdown-text-hover: #2b3847;
  --text-dialog-button: #e8eced;
  --falcon-workflow-text-disabled: #818f99;
  --falcon-wellbore-text: #c9cfd4;
  --falcon-establish-table-text: #c9cfd4;
  --falcon-establish-text-button: #818899;
  --text-disabled-color: #e8eced;
  --falcon-accept-button-text: #2a9c65;
  --falcon-text-button-disabled: #3b4957;
  --falcon-count-text: var(--color-primary-04);
  --falcon-brand-color: #d91233;
  --falcon-dropdown-panel-background: #141d27;
  --falcon-dropdown-panel-item-highlight: #1b334b;
}
